html, body, #root{
    background-color: black;
}

.conteudo-margin {
    margin-top: 55px;
}

.active.nav-link {
    color: cyan !important;
    border-bottom: 1px solid white !important;
}

.nav-link{
    border-bottom: 3px solid transparent;
}
.titlehm1{
    color: white;
    text-decoration: overline cyan;
}
.titlehm{
    color: cyan;
    text-decoration: underline white;
}
/* Calendario */

.col-8{
    height: 300px;
    overflow-y: scroll;
}
.tituc , .textcl{
    color: white;
}

/* Calendario Fim*/

/* Botao de subir pagina */

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
    z-index: 1;
    font-size: 16px;
    border-radius: 10px;
    border-color: cyan;
    background-color: rgb(10, 8, 4);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transform: translateX(50%);
}
  
.back-to-top:before {
    content: "";
    border: solid cyan;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    border-color: cyan;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.back-to-top:hover {
    background-color: white;
}

/* Botao de subir pagina Fim */

/*Rodape*/

/*Rodape Fim */

/*Contato*/
.texcont, .textitulo , .formcont{
    color: white;
}
.textitulo{
    color: white;
    text-decoration: underline cyan;
}

/*Contato fim*/


/*Funcionalidade*/
.conteudo-margin{
    color: white;
}
.functit{
    color: white;
    text-decoration: underline cyan;
}
/*Funcionalidade fim*/

/*Adm Funcionalidade*/

.titladmfun{
    color: white;
    text-decoration: underline cyan;
}
.admfuad{
    color: white;
}
/*Adm Funcionalidade fim*/

/*Adm sobre*/

.tituadmif{
    color: white;
    text-decoration: underline cyan;
}
/*Adm sobre fim*/

/*sobre*/

.sbtext{
    color: white;
    text-decoration: underline cyan;
}

/*sobre fim*/

/*Depoimento*/

.mt-3{
    text-decoration: 4px underline cyan;
}
.dep1{
    margin-left: 360px;
    border-radius: 50px;
}
.dep2{
    border-radius: 50px;
}
.dep3{
    margin-left: 360px;
    border-radius: 50px;
}
/*Depoimento Fim*/

/*Login*/
.titlg{
    color: white;
    text-decoration: underline cyan;
}
/*Login fim*/